body {
    background-color: #fff;
    margin: 0;
    padding: 12px;
    
}

.header {
    background-color: darkorange;
    border-radius: 4px;
}

.header-item {
    padding: 8px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

.list-item:hover {
    background-color: darkorange;
    color: #fff;
}

.left-sidebar {
    width: 150px;
}

.wrapper {
    width: 1200px;
}

.text-container {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
}

.right-sidebar {
    background-color: skyblue;
    border-radius: 4px;
    padding: 4px;
    width: 250px;
}

.footer {
    background-color: darkorange;
    padding: 4px;
    position: absolute;
    bottom: 0;
    border-top: 2px solid lightgray;
}
